html:has(.e-pivotview),
body:has(.e-pivotview) {
    width: 100%;
    height: 100%;
}

.e-pivotview {
    width: 100%;
    height: 100%;
}

#PivotViewcontainerwrapper {
    height: auto !important;
}