







/* Font Family */
/* Font Sizes */
/* Radius */
/* 1px */
/* 2px */
/* 3px */
/* 4px */
/* 5px */
/* 6px */
/* 7px */
/* 8px */
/* 9px */
/* 10px */
/* 11px */
/* 12px */
/* 13px */
/* 14px */
/* 15px */
/* 16px */
/* 17px */
/* 18px */
/* 19px */
/* 20px */
/* 21px */
/* 22px */
/* 23px */
/* 24px */
/* 25px */
/* 26px */
/* 27px */
/* 28px */
/* 29px */
/* 30px */
/* 31px */
/* 32px */
/* 33px */
/* 34px */
/* 35px */
/* 36px */
/* 37px */
/* 38px */
/* 39px */
/* 40px */
/* 41px */
/* 42px */
/* 43px */
/* 44px */
/* 45px */
/* 46px */
/* 47px */
/* 48px */
/* 49px */
/* 50px */
/* 5em */
/* 65% */
/* border */
/* 0px */
/* 1px */
/* 1.5px */
/* 2px */
/* 3px */
/* 4px */
/* 5px */
/* 6px */
/* 7px */
/* 8px */
/* 9px */
/* 10px */
/* 11px */
/* 12px */
/* 13px */
/* 14px */
/* 15px */
/* 16px */




.e-input-group.e-control-wrapper .e-multicolumn-list-icon::before {
  content: "\e729";
  font-family: "e-icons";
}

.e-multicolumn-list-icon .e-spinner-pane .e-spinner-inner svg {
  /* stylelint-disable declaration-no-important */
  height: 20px !important;
  width: 20px !important;
  -webkit-transform-origin: 10px 10px 10px !important;
          transform-origin: 10px 10px 10px !important;
  /* stylelint-enable declaration-no-important */
}

.e-multicolumn-grid tr.e-groupcaptionrow {
  position: sticky;
  top: 0;
}
.e-multicolumn-grid tr.e-groupcaptionrow .e-groupcaption {
  font-weight: 600;
}

.e-multicolumn-grid th.e-grouptopleftcell.e-lastgrouptopleftcell,
.e-multicolumn-grid th.e-grouptopleftcell.e-lastgroupleftcell,
.e-multicolumn-grid td.e-recordplusexpand,
.e-multicolumn-grid td.e-indentcell,
.e-multicolumn-grid col.e-group-intent,
.e-multicolumn-list .e-no-records + .e-grid {
  display: none;
}

.e-multicolumn-grid td.e-rowcell {
  cursor: default;
}

.e-multicolumn-grid .e-gridheader .e-headercelldiv {
  overflow: hidden;
}

.e-multicolumn-list .e-popup-footer {
  vertical-align: middle;
  border-style: solid;
  border-width: 0 1px 0 1px;
  font-size: 14px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: calc(var(--e-radius) * 0) calc(var(--e-radius) * 0) calc(var(--e-radius) * 0.25) calc(var(--e-radius) * 0.25);
}

.e-multicolumn-list .e-multicolumn-list-hidden {
  border: 0;
  height: 0;
  padding: 0;
  visibility: hidden;
  width: 0;
}

.e-multicolumn-grid.e-grid {
  border-width: 1px;
  border-radius: calc(var(--e-radius) * 0.25);
}
.e-multicolumn-grid.e-grid .e-gridcontent {
  border-radius: calc(var(--e-radius) * 0) calc(var(--e-radius) * 0) calc(var(--e-radius) * 0.25) calc(var(--e-radius) * 0.25);
}

.e-input-group.e-multicolumn-list input[readonly].e-input {
  pointer-events: none;
}

.e-multicolumn-list:has(.e-popup-footer) .e-multicolumn-grid.e-grid {
  border-radius: calc(var(--e-radius) * 0.25) calc(var(--e-radius) * 0.25) calc(var(--e-radius) * 0) calc(var(--e-radius) * 0);
}
.e-multicolumn-list:has(.e-popup-footer) .e-multicolumn-grid.e-grid .e-gridcontent {
  border-radius: calc(var(--e-radius) * 0);
}
.e-multicolumn-list.e-icon-anim .e-multicolumn-list-icon::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.e-multicolumn-list:not(.e-icon-anim) .e-multicolumn-list-icon::before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.e-multicolumn-list .e-multicolumn-list-icon::before {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.e-multicolumn-grid .e-grid {
  overflow: auto;
}

.e-multicolumn-grid .e-row,
.e-multicolumn-grid .e-emptyrow {
  height: 32px;
}

.e-multicolumn-group .e-sortnumber {
  display: none;
}

.e-popup.e-multicolumn-list {
  position: absolute;
  border-radius: calc(var(--e-radius) * 0.25);
  margin-top: unset;
}
.e-popup.e-multicolumn-list .e-nodata {
  cursor: default;
  font-family: inherit;
  font-size: 14px;
  padding: 14px 16px;
  text-align: center;
  border-radius: inherit;
}
.e-popup.e-multicolumn-list .e-headertext {
  font-weight: 400;
}
.e-popup.e-multicolumn-list .e-gridheader {
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: calc(var(--e-radius) * 0.25) calc(var(--e-radius) * 0.25) 0 0;
}

.e-multicolumn-grid .e-headercontent {
  border-right-color: transparent; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-grid.e-rtl .e-headercontent {
  border-left-color: transparent; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-grid .e-content {
  overflow: auto !important; /* stylelint-disable-line declaration-no-important */
}

.e-multicolumn-container .e-input-group-icon.e-multicolumn-list-icon.e-ddl-disable-icon,
.e-multicolumn-list.e-input-group .e-input-group-icon {
  position: relative;
}

.e-small.e-popup .e-multicolumn-grid .e-headercelldiv,
.e-small.e-popup .e-multicolumn-grid .e-rowcell, .e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-popup .e-multicolumn-grid .e-headercelldiv,
.e-small .e-popup .e-multicolumn-grid .e-rowcell,
.e-small .e-popup.e-multicolumn-list .e-popup-footer {
  font-size: 12px;
}
.e-small.e-popup.e-multicolumn-list .e-popup-footer,
.e-small.e-popup .e-multicolumn-grid .e-row,
.e-small.e-popup .e-multicolumn-grid .e-emptyrow,
.e-small .e-popup.e-multicolumn-list .e-popup-footer,
.e-small .e-popup .e-multicolumn-grid .e-row,
.e-small .e-popup .e-multicolumn-grid .e-emptyrow {
  height: 32px;
}
.e-small.e-popup.e-multicolumn-list,
.e-small .e-popup.e-multicolumn-list {
  margin-top: unset;
}

.e-multicolumn-list .e-popup-footer {
  background: var(--color-sf-flyout-bg-color);
  color: var(--color-sf-content-text-color-alt2);
  border-color: var(--color-sf-border-light);
}

.e-input-group.e-multicolumn-list:focus-visible {
  outline: transparent;
}

.e-popup.e-multicolumn-list {
  background: transparent;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.14), 0 0 2px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.14), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}
.e-popup.e-multicolumn-list .e-nodata {
  color: var(--color-sf-content-text-color-alt2);
  border: 1px solid var(--color-sf-flyout-border);
  background: var(--color-sf-flyout-bg-color);
}
.e-popup.e-multicolumn-list .e-multicolumn-grid .e-rowcell {
  color: var(--color-sf-content-text-color);
}
.e-popup.e-multicolumn-list .e-multicolumn-grid .e-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.e-popup.e-multicolumn-list .e-gridhover .e-row:hover .e-rowcell:not(.e-active),
.e-popup.e-multicolumn-list .e-gridcontent .e-row-focus {
  background: var(--color-sf-flyout-bg-color-hover) !important; /* stylelint-disable-line declaration-no-important */
}
.e-popup.e-multicolumn-list .e-multicolumn-grid td.e-active {
  background: var(--color-sf-flyout-bg-color-selected);
  color: var(--color-sf-flyout-text-color-selected);
}
.e-popup.e-multicolumn-list .e-groupcaption {
  color: var(--color-sf-content-text-color-alt2);
  background: var(--color-sf-flyout-bg-color);
}
.e-popup.e-multicolumn-list .e-gridheader,
.e-popup.e-multicolumn-list .e-gridheader colgroup {
  background: var(--color-sf-content-bg-color-alt2);
}
.e-popup.e-multicolumn-list .e-altrow {
  background: var(--color-sf-content-bg-color-alt2);
}
.e-popup.e-multicolumn-list .e-grid .e-headercell {
  background-color: unset;
}
.e-popup.e-multicolumn-list .e-headertext,
.e-popup.e-multicolumn-list .e-grid th.e-headercell[aria-sort=ascending] .e-headertext,
.e-popup.e-multicolumn-list .e-grid th.e-headercell[aria-sort=descending] .e-headertext {
  color: var(--color-sf-content-text-color);
}