.tailwind4 .sb-reset-icon:before {
    content: '\e7e7';
}

.tailwind4 .copycode::before {
    content: '\e77c';
    font-size: 25px;
}

/*Hide property pane */
@media (max-width: 480px) {
    .tailwind4 .sb-content-tab.e-tab>.e-nested>.e-tab-header>.e-items.e-toolbar-items>.e-toolbar-item>.e-tab-wrap {
        height: 70px;
    }
}

.tailwind4 .e-samplestatus.new.tree,
.tailwind4 .e-samplestatus.update.tree,
.tailwind4 .e-samplestatus.preview.tree {
    margin: 12px 0;
    height: 22px;
    margin-top: 8px;
}

.tailwind4 .e-samplestatus.new,
.tailwind4 .e-samplestatus.update,
.tailwind4 .e-samplestatus.preview {
    margin: 12px 0;
    height: 22px;
    margin-top: 0.5px;
}

.tailwind4 .sb-source-code-section .e-toolbar .e-toolbar-items {
    vertical-align: middle;
}

.tailwind4 #sb-nextjs-btn.e-btn.e-link {
    color: #0278d7;
}

.tailwind4 #sb-nextjs-btn.e-link:hover {
    color: #0664b2;
}